{% extends 'app/base.html' %}
{% load static %}

{% block title %}Ayuda{% endblock %}

{% block contenido %}
<div class="container">
    <div class="d-flex col-sm-12 mt-5 padding-left px-5 ">
        <div class="titulo">
            <h3>Ayuda</h3>
            <br>
            <h5>Consultas o Reclamos</h5>
            <br>
            <p>Contacte con nosotros a nuestro <a href="mailto:TonariNo.Planta@gmail.com">Correo</a> o llamando a cualquiera de nuestros siguientes telefonos.</p>
            <p><span style="color: brown;">+56 9 22 465 4655</span></p>
            <p><span style="color: brown;">+56 9 22 349 6488</span></p>
            <p><span style="color: brown;">+56 9 9798 6519 </span>(para whastapp)</p>
            <br>
            
        </div>
        <div class="container">
            <div class="jumbotron card2">
                <h5>Devolucion de productos</h5>  
                <br>    
              <p>Todos nuestros productos cuentan con una garantía de 30 dias, si por alguna razon quieres devolver algun producto deberas de mandar el 
                comprobante de tu compra y la razon de la devolucion a  nuestra direccion de correo, recibiras una respuesta dentro de 2 semanas con los 
                detalles de como realizar este proceso. Luego de que tengamos el producto de vuelta tu dinero sera devuelto en un periodo menor a 3 días.</p>
            </div>    
        </div>
        </div>
        <br>
        <br>
        <hr>
         <div class="container text-left mb-5">
            <h4 class="text-center">Derechos de autor -
                Políticas de privacidad</h4>
                <br>
            <p>
                Última actualización: 02 de abril de 2022
                <br>
                Esta Política de privacidad describe Nuestras políticas y procedimientos sobre la recopilación, el uso y la divulgación de Su información cuando utiliza el Servicio y le informa sobre Sus derechos de privacidad y cómo la ley lo protege.
                Usamos sus datos personales para proporcionar y mejorar el Servicio. Al utilizar el Servicio, acepta la recopilación y el uso de información de acuerdo con esta Política de privacidad.
                “Usted” significa la persona que accede o utiliza el Servicio, o la empresa u otra entidad legal en nombre de la cual dicha persona accede o utiliza el Servicio, según corresponda.
                Recopilación y uso de sus datos personales
                Tipos de datos recopilados
                Información personal
                Mientras usa Nuestro Servicio, podemos pedirle que nos proporcione cierta información de identificación personal que se puede usar para contactarlo o identificarlo. La información de identificación personal puede incluir, pero no se limita a
                Dirección de correo electrónico
                Nombre y apellido
                Dirección, estado, provincia, código postal o ciudad.</p>  
         </div>
    </div>
 </div>

{% endblock %}